@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');


* {
  box-sizing: border-box;
}

body {
  background: $red;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  position: fixed;
  background-color: $white;
  width: 33%;
  height: 100%;
  padding: 95px 0 50px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    color: $red;
    font-size: 70px;
    width: 50%;
    font-family: 'Syncopate', sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    ;
  }

  h3 {
    color: $red;
    font-size: 25px;
    font-weight: 400;
  }

  p {
    color: $red;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;

  }

  h3,
  h4,
  p {
    margin-bottom: 25px;
    width: 70%;
    line-height: 120%;
  }

  nav {
    margin-bottom: 25px;

    ul {

      display: flex;
      flex-wrap: wrap;
      width: 60%;

      li {
        margin: 0 10px 5px 0;
        font-size: 15px;
        opacity: 0.6;
        border-bottom: 1px solid;
        line-height: 120%;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  h4 {
    font-size: 12px;
    opacity: 0.5;
    font-weight: 600;
  }
}

main {
  .movie {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg,
        rgba(0, 0, 0, 0.05),
        transparent, transparent) $red;
    padding-left: $fixedWidth;

    .movie_header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 30px;
      align-items: flex-end;
      color: white;

      h4 {
        font-size: 60px;
        font-weight: 500;
        font-family: 'Oswald', sans-serif;
        ;
      }

      h5 {
        font-size: 18px;
        font-weight: 600;
        ;
      }
    }
  }
}